<%- include('header') -%>

<div class="error__container">
    <% if (errormsg.length > 0) { %>
        <h2 class="errorMsg"><%= errormsg -%></h2>
    <% } %>
    <a href="./">tilbaka</a>
</div>


<%- include('footer') -%>
