* {
  margin: 0;
  padding: 0;
  color: #333;
}

html {
  box-sizing: border-box;
  background-color: #eee;
  font-size: 16px;
}


*, *:before, *:after {
  box-sizing: inherit;
}


/**
  *
  *
  * HEADER
  *
  *
  *
  */
.header{
  /*width: 100%;*/
  min-width: 300px;
  min-height: 500px;
  max-height: 1200px;
  background: transparent url('header.jpg') no-repeat center;
  background-position-y: 50%;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header > div > h1 {
  font-size: 4rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #eee;
}


/**
  *
  *
  * ARTICLES CARDS
  *
  *
  *
  */

.articles__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  margin-top: 30px;
  justify-content: space-around;
}


.articles__items {
  width: 40%;
  max-height: 600px;
  margin-bottom: 50px;
}

.articles__items > h2 {
  font-size: 2rem;
}


.items__img {
  background-color: grey;
  max-height: 400px;
  height: 85%;
  border: 1px solid black;
  min-width: 250px;
  min-height: 250px;
}

.items__img img {
  width: 100%;
  height: 100%;
  list-style-type: none;
  
}

@media (max-width: 600px) { 

  .articles__container {
    flex-flow: column;
    align-items: center;
  }

  .articles__items {
    width: 70%;
  }

}

@media (max-width: 950px) { 

  .items__img {
    min-height: 150px;
  }
}

/**
  *
  *
  * ERRROR
  *
  *
  **/

.error__container {
  margin-top: 30px;
  text-align: center;
}

.errorMsg {

  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

/**
  *
  *
  * ARTICLES
  *
  *
  *
  **/

/**
  *
  *
  * ARTICLE
  *
  *
  *
  **/

.article__container {
  margin: 3rem;
}

.article__container h1{
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

.article__container h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.article__container p {
  font-size: 2rem;
}

.article__container * {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.article__container img {
  max-height: 800px;
  
}

.article__container blockquote {
  max-height: 800px;
}
