* {
  margin: 0;
  padding: 0;
  color: #333;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  background-color: #eee;
}


*, *:before, *:after {
  box-sizing: inherit;
}



/**
  *
  *
  * HEADER
  *
  *
  *
  */
.header{
  min-width: 300px;
  min-height: 500px;
  max-height: 1200px;
  background: transparent url('header.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header > div > h1{
  font-size: 4rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #eee;
}


/**
  *
  *
  * ARTICLES CARDS
  *
  *
  *
  */

.articles__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  margin-top: 30px;
  justify-content: space-around;
}


.articles__items {
  width: 40%;
  max-height: 600px;
  margin-bottom: 50px;
}

.articles__items > h2 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

.articles__items > p{
  font-size: 1rem;
  font-family: 'Lora', sans-serif;
}


.items__img {
  background-color: grey;
  max-height: 400px;
  height: 85%;
  border: 1px solid black;
  min-width: 250px;
  min-height: 250px;
}

.items__img img {
  width: 100%;
  height: 100%;
  list-style-type: none;
  
}

@media (max-width: 750px) { 

  .articles__container {
    flex-flow: column;
    align-items: center;
  }

  .articles__items {
    width: 60%;
  }

  .items__img {
    min-height: 300px;
  }

}

@media (max-width: 600px) { 
  .items__img {
    min-height: 200px;
  }

}


/**
  *
  *
  * ERRROR
  *
  *
  **/

.error__container {
  margin-top: 30px;
  text-align: center;
}

.errorMsg {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 3rem;
  font-weight: lighter;
}

.error__link {
  font-size: 2rem;
  
}

/**
  *
  *
  * ARTICLE
  *
  *
  *
  **/

.article__container {
  max-width: 1200px;
  margin: 3rem auto;
}

.article__container h1{
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

.article__container h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.article__container p {
  font-size: 2rem;
  font-family: 'Lora', sans-serif;
}

.article__container * {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.article__container a {
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold; 
}

.article__container img {
  max-height: 800px;
  
}

.article__container blockquote {
  max-height: 800px;
}

@media (max-width: 1400px) { 
  .article__container {
    margin: 3rem 3rem;
  }

}
