* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  background-color: #eee;
  font-size: 16px;
}


*, *:before, *:after {
  box-sizing: inherit;
}


/**
  *
  *
  * HEADER
  *
  *
  *
  */
.header{
  /*width: 100%;*/
  min-width: 300px;
  min-height: 500px;
  max-height: 1200px;
  background: transparent url('header.jpg') fixed no-repeat center;
  background-position-y: 50%;
  background-size: 100%;
  
}

.header > div {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.header > div > h1 {
  font-size: 4rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #eee;
}


/**
  *
  *
  * ARTICLES CARDS
  *
  *
  *
  */

.articles__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  margin-top: 30px;
  justify-content: space-around;
}


.articles__items {
  width: 40%;
  max-height: 600px;
  margin-bottom: 50px;
}

.articles__items > h2 {
  font-size: 2rem;
}


.items__img {
  background-color: grey;
  max-height: 400px;
  height: 85%;
  border: 1px solid black;
  min-width: 250px;
}

.items__img img {
  width: 100%;
  height: 100%;
  
}

@media (max-width: 600px) { 

  .articles__container {
    flex-flow: column;
    align-items: center;
  }
}

/**
  *
  *
  * ERRROR
  *
  *
  **/

.error__container {
  margin-top: 30px;
  text-align: center;
}

.errorMsg {

  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

/**
  *
  *
  * ARTICLES
  *
  *
  *
  **/

/**
  *
  *
  * GLOBAL MULTI SELECTORS
  *
  *
  *
  **/

